h1
{
  color: red;
}
.heading2
{
  color: red;
  word-spacing: normal;
  letter-spacing:normal;
  font-style: italic;
}

ol
{
  color: brown;
  line-height: 40px;
}
em
{
  text-decoration: underline;
}

.heading3
{
  color: red;
  word-spacing: normal;
  letter-spacing:normal;
}
ul
{
  color: brown;
  letter-spacing: 5px;
}
strong
{
  background-color: yellow;
}
p
{
color: brown;
}